body {
    background-image: url(trianglify-image.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgb(110, 110, 228);
}
.item-a {
    grid-area: header;
    text-align: right;
    overflow: hidden;
    width: 8.9ch;
    height: 60px;
    max-width: 8.9ch;
    margin-right: auto;
    margin-left: auto;
    margin-top: -40px;
    margin-bottom: 10px;
    padding-top: 30px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(110, 110, 228);
    font-weight: 400;
}
.item-b {
    grid-area: main;
    margin-left: 5px;
    margin-top: 4px;
    width: 50px !important; 
    height: 50px !important;
    color: black;
    padding-right: 25px;
    background-color: rgb(110, 110, 228);
}
.fas.fa-backspace {
 font-size: x-large;
}
#container {    
    height: auto;
    width: auto;
    text-align: center;
    margin-top: 30px;
}
#buttons {
    display: inline-grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "header header header main";
    column-gap: 2px;
    row-gap: 2px;
    width: 200px;
    height: 300px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(66, 64, 63);
    padding: 50px 90px 50px 50px;
    border: 2px solid black;
}
#buttons button {
    width: 60px;
    height: 50px;
    text-align: center;
    border: 2px ridge black;
    font-weight: 400;
    -webkit-appearance: none;
    background: rgb(255, 255, 255);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
#buttons button:hover {
    opacity: 1;
}
#buttons .operation {
    background-color: rgb(110, 110, 228);
}
#instructions {
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 3ch;
    color: rgb(110, 110, 228);
}